<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Turbo Playground" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="flex flex-row h-lvh w-lvw">
    <sidebar class="basis-1/4 grow-0 shrink-0 bg-red-200 overflow-y-auto">
      <%= yield :sidebar %>
    </sidebar>

    <main class="grow bg-blue-200 overflow-y-auto">
      <%= yield :main %>
    </main>

    <dialog id="global-dialog" data-controller="dialog" class="z-40 fixed isolate inset-0 h-lvh w-lvw max-h-full max-w-full bg-transparent">
      <%= yield :dialog %>
    </dialog>
  </body>
</html>
